version: '3.8'

services:
  db_migration:
    image: mysql:5.7
    volumes:
      - ./build/data/db/:/var/lib/mysql
    ports:
      - "3321:3306"
    environment:
      - MYSQL_DATABASE=testing
      - MYSQL_USER=migrationc
      - MYSQL_PASSWORD=migration
      - MYSQL_ALLOW_EMPTY_PASSWORD=yes
  mysql8:
    image: mysql:8.0
    ports:
      - "3322:3306"
    environment:
      - MYSQL_DATABASE=testing
      - MYSQL_USER=migrationc
      - MYSQL_PASSWORD=migration
      - MYSQL_ALLOW_EMPTY_PASSWORD=yes
  mssql:
    build:
      context: .
      dockerfile: mssql.Dockerfile
    volumes:
      - ./docker/mssql/init.sh:/init.sh:ro
    container_name: mssql
    command: [ "/bin/bash", "/init.sh" ]
    environment:
      SA_PASSWORD: "Passw0rd1234!"
      ACCEPT_EULA: "Y"
    ports:
      - "1433:1433"
    healthcheck:
      test: [ "CMD-SHELL", "curl -f http://localhost:1433 || exit 1" ]
  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_DB: testing
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ''
      POSTGRES_HOST_AUTH_METHOD: trust
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 10s
      timeout: 5s
      retries: 5
  php:
    build:
      context: .
      dockerfile: app.Dockerfile
    volumes:
      - .:/var/www/html/:consistent
      - ./tests/xdebug.ini:/usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini:ro
    depends_on:
      - db_migration
      - mysql8
      - mssql
      - postgres
